<div class="card-container">
  <div class="card__coffee">
    <h2>Coffee</h2>
    <img src="images/coffee.svg" alt="smiling coffee cup" />
    <footer class="card__menu">
      <a>View Menu</a>
    </footer>
  </div>
  <div class="card__cream">
    <h2>Cream</h2>
    <img
      class="cream__image"
      src="images/cream.svg"
      alt="person holding icecream cone"
    />
    <footer class="card__menu">
      <a>View Menu</a>
    </footer>
  </div>
  <div class="card__cookies">
    <h2>cookies</h2>
    <img src="images/cookie.svg" alt="person eating a cookie" />
    <footer class="card__menu">
      <a>View Menu</a>
    </footer>
  </div>
</div>
